<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Eat-Da-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- bootstrap --}}
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		{{!-- local css --}}
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	</head>
	<body class="bg-warning">
		<div class="jumbotron jumbotron-fluid text-warning text-left bg-primary">
      		<div class="container ">
          		<h1 class="display-3"> EAT-DA-BURGER</h1>
      		</div>
    	</div>
		{{{ body }}}
	</body>
</html>
